.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  min-height: 40vw;
  max-height: 40vw;
  overflow: scroll;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
}

.miniBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.line {
  margin: 2rem;
  border: 0.5px solid white;
  min-width: 90%;
}
