.container {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 30vw;
  width: 100%;
  /* padding: 1rem; */
}
.content {
  display: flex;
  padding: 2rem;
}
