.container {
  z-index: 0;
  /* padding-right: 2rem; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 114vh;
  z-index: 2;
}
.content {
  /* padding-top: 5vh;
  padding-bottom: 5vh; */
  border-top: 2px solid white;
  /* border-bottom: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 75vh;
  min-width: 80%;
  margin-bottom: 27vh;
  z-index: 2;
}

.Photo {
  position: absolute;
  /* background-color: #202121; */
  top: 0;
  z-index: 1;
  opacity: 0.4;
  width: 100%;
  height: auto;
}

.jax {
  width: 100%;
  height: auto;
}

.back {
  background-color: #202121;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
}
