.bar {
  display: inline-flex;
  align-items: center;
}

.back {
  background-color: #0074d9;
  border-radius: 6px;
}

.logo {
  padding: 10px;
}

.each {
  padding: 10px;
  transition: 0.4s ease;
  height: 100%;
  border-radius: 2px;
}

.each:hover {
  background-color: #7fdbff;
}
