.bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.back {
  min-width: 250px;
  background-color: #7e8584;
  z-index: 1;
}

.logo {
  padding: 30px;
}

.each {
  padding: 20px;
  transition: 0.4s ease;
  height: 100%;
  border-radius: 2px;
  color: white;
}

.each:hover {
  background-color: #4299a6;
}
