.link_list {
  text-decoration: none;
  list-style-type: none;
}

.bar {
  display: inline-flex;
  align-items: center;
  padding: 15px;
}

.logo {
  padding: 10px;
}
.GitHub {
  position: absolute;
  right: 0;
  margin-right: 3rem;
}
