.container {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 50vw;
  width: 100%;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  min-height: 10vw;
  background-color: #7e8584;
  border-radius: 5px;
}

/* .box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.box1 {
  padding: 1rem;
  background-color: #202121;
  padding-left: 38%;
  padding-right: 30%;
  border-radius: 5px;
  align-content: center;
  justify-content: flex-end;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.resp {
  padding: 0.5rem;
}

.values {
  padding: 0.5rem;
}

.miniBox {
  display: flex;
  flex-direction: row;
}

.link:hover {
  color: #0b1f1d;
}

/* .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.each {
  padding-top: 0.3rem;
}

.clubDiscrip {
  max-width: 50%;
}

.discripTitle {
  padding-bottom: 0.5rem;
} */
