.container {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 30vw;
  width: 100%;
  /* padding: 1rem; */
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 10vw;
  background-color: transparent;
  border-radius: 5px;
  /* overflow: scroll; */
}

/* .box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.box1 {
  padding: 1rem;
  background-color: transparent;
  /* padding-left: 38%;
  padding-right: 30%; */
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 60rem;
}

.resp {
  padding: 0.5rem;
}

.values {
  padding: 0.5rem;
}

.miniBox {
  display: flex;
  flex-direction: row;
}

.link:hover {
  color: #0b1f1d;
}

/* .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.each {
  padding-top: 0.3rem;
}

.clubDiscrip {
  max-width: 50%;
}

.discripTitle {
  padding-bottom: 0.5rem;
} */
