.container {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100%;
}

.back {
  width: 100%;
  background-color: #7e8584;
}

.bar {
  display: inline-flex;
  width: 60%;
  max-height: 5rem;
  min-height: 100%;
}

.links {
  min-height: 100%;
  padding: 2rem;
  transition: 0.4s ease;
}

.links:hover {
  background-color: #4299a6;
}
