.container {
  min-height: 100vh;
  width: 100%;
}

.content {
  width: 100%;
}

.list {
  background-color: #7e8584;
  display: inline-flex;
  width: 100%;
  padding: 2rem 2rem;
  border-radius: -3px;
  width: 100%;
}

.back {
  width: 100%;
  background-color: #7e8584;
}

.bar {
  display: inline-flex;
  width: 60%;
  max-height: 5rem;
  min-height: 100%;
}

.links {
  min-height: 100%;
  padding: 2rem;
  transition: 0.4s ease;
  color: white;
  font-family: "Roboto", sans-serif;
}

.links:hover {
  background-color: #4299a6;
}
