.container {
  max-height: 40vh;
  width: 100%;
}

.content {
  min-height: 30vh;
  width: 100%;
  /* overflow: scroll; */
}

.list {
  /* background-color: #7e8584; */
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 2rem;
  border-radius: -3px;
  width: 100%;
}

.back {
  width: 100%;
  background: transparent;
}

.bar {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  max-height: 5rem;
  min-height: 100%;
}

.links {
  min-height: 100%;
  padding: 2rem;
  transition: 0.4s ease;
  color: white;
  font-family: "Roboto", sans-serif;
}

.links:hover {
  transform: translateY(-10%);
}
